body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
    background-color: #f0f0f0;
}

h5{
    text-align: center;
    font-weight: 1000;
}

h6{
    font-size: 40px;
    text-align: center;
    color: #ee6e73;
    font-family: 'Zhi Mang Xing', cursive;
}

.slideshow{
    padding-left: 100px;
}

nav{
    display: flex;
    justify-content: flex-end;
    background-color: none;
}

.navigate{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.btn-create, .btn-view{
    margin-right:20px;
    padding:10px 20px;
    color:#ee6e73;
    font-weight:bold;
    font-size:20px;
    cursor:pointer
}

.btn-create:hover, .btn-view:hover{
    background-color: #ee6e73;
    color:white;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    color:black;
  }

  .form-row input[type='text'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 50%;
    padding: 7px;
    font-size: 14px;
  }

  .form-row label {
    margin-bottom: 15px;
    color: #111111;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 15px;
  }